h1{
    color: hwb(0 10% 89%);
text-align: center; 
}

p{
    text-align: justify;
    color: rgb(26, 28, 25);
}


body{
    background-color: rgb(17, 237, 237);
}

p{
    text-align: center;
}
#paragrafo-footer

.paragrafo-section{
    color: rgb(5, 1, 18);
}

section{ background-color: rgb(101, 227, 18);}